* {
    margin: 0;
    padding: 0;
}


html,body {
    width: 100%;
    min-height: 600px;
    position: relative;
    color: #333;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-size: 100%;

    
}

main {
    /*min-width: 360px;*/
    min-width: 550px;
    width: 100%;
    min-height: 550px;
    margin : 0 auto;
}

.admin-common-content{
    /* width: 360px; */
    width: 95%;
    max-width: 1000px;
    height: 640px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.admin-common-header{
    margin-top: 50px;
    width: 100%;
    height: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size:x-large;
    font-weight: bolder;
}
.admin-common-footer{
    margin-top: 50px;
    width: 100%;
    height: 40px;
    text-align: center;
    color: rgb(121, 121, 121);
    font-size:14px;
    line-height:25px;
}

.admin-common-nav-area{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size:13px;
    font-weight: bolder;
    
    display: flex;
}
.admin-common-nav-btn{
    background-color: dodgerblue;
    border: solid rgb(182, 181, 181) 0.1px;
    color:ghostwhite;
    flex:1;
    cursor:pointer;
}
.admin-common-nav-btn:hover{
    background-color: gray;
}
/*컨텐트 페이지의 제목*/
.admin-page-title{
    margin: 12px 0;
    font-size: 17px;
    font-weight: bold;
}
.admin-common-popup-frame{
    background-color : #ebebeb;
    border: solid gray 0.1px;
    color:rgb(121, 121, 121);
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    /*임시코드*/
    margin-top:50px;
}
.admin-common-popup-content{
    text-align: center;
    color:black;
    font-size: 14px;
    padding-top : 30px;
    line-height: 0px;
}
.admin-common-btn-frame{
    margin : 20px 0;
    height: 30px;
    width: 100%;
    
    
    display:flex;
    justify-content: space-around;
    /* justify-content: space-around; */
    
    
}
button.admin-common-popup-button{
    background-color: dodgerblue;
    flex: 0.3;
    color:rgb(255, 255, 255);
    outline-color: none;
    border: none;
}
button.admin-common-popup-button:hover{
    background-color: gray;
}
.admin-common-button{
    width: 85%;
    height: 100px;
    margin: 20px auto;
    display:block;
    border-radius: 12px;
    background-color:rgb(74, 165, 255) ;
    color: white;
    border:none;
    font-size: 20px;
    text-align: center;
}

.admin-common-button:hover{
    background-color: gray;
}
/*공통 테이블 영역을 정의합니다.*/

.admin-common-table-area{
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    overflow-x: auto;
}
table.admin-common-table {
    min-width: 1000px;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #ccc;
    
}
table.admin-common-table thead {
    font-size: 1rem;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: dodgerblue;
}
table.admin-common-table thead th {
    
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
}

table.admin-common-table tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #fcf1f4;
}
table.admin-common-table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    font-size: 0.8rem;
}
/*----테이블 영역 끝 --*/

/*공통 검색기능 부분*/

.admin-common-search-container{
    padding-top: 20px;
    width: auto;
    max-width: 1000px;
    padding-bottom: 50px;
    margin: 0 auto;
}

input.admin-common-search-form:-ms-input-placeholder{ color:dodgerblue ;}
input.admin-common-search-form::-webkit-input-placeholder{ color:dodgerblue ;}
input.admin-common-search-form:-moz-placeholder{ color:dodgerblue ;}

.admin-common-search-input-container{
    height: 20px;
    width: 70%;
    max-width: 500px;
    border: 0.1rem solid dodgerblue;
    background:white;
    float:left;
}
.admin-common-filter-item{
    height:20px;
    width: 25%;
    margin-left: 20px;
    max-width: 100px;
    float:left;
    border: 0.1rem solid dodgerblue;
    background:white;
}
input.admin-common-search-form{
    font-size: 0.8em;
    width:80%;
    height: 100%;
    border: 0;
    outline: none;
    float:left;
    text-indent: 5px;
    

}
button.admin-common-search-button{
    width: 20%;
    height: 100%;
    border: 0;
    background: dodgerblue;
    outline: none;
    float:right;
    color: white;
}
/*공통 검색 기능부분 끝*/

/*페이징 부분 스타일 시트*/
.admin-common-page-wrap {
    padding-top : 30px;
	text-align:center;
	font-size:0;
 }
.admin-common-page-nation {
	display:inline-block;
}
.admin-common-page-nation .none {
	display:none;
}
.admin-common-page-nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid dodgerblue;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:rgb(255, 255, 255);
	font-size:13px;
	color:dodgerblue;
	text-decoration:none;
}
.admin-common-page-nation .arrow {
	border:1px solid dodgerblue;
}
.admin-common-page-nation .pprev {
	background:white url('./../img/admin/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.admin-common-page-nation .prev {
	background:white url('./../img/admin/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.admin-common-page-nation .next {
	background:white url('./../img/admin/page_next.png') no-repeat center center;
	margin-left:7px;
}
.admin-common-page-nation .nnext {
	background:white url('./../img/admin/page_nnext.png') no-repeat center center;
	margin-right:0;
}
.admin-common-page-nation a:hover {
	border:1px solid rgb(194, 4, 162);
}
/*페이징 부분 종료*/



a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}