

#category-search {
    width: 300px;
    height: 50px;
    margin: 5px 15px 30px 15px;
}

#category-search > #category-input {
    display: block;
    height: 100%;
    width: 300px;
    text-indent: 10px;
    border-radius: 10px;
    border: 2px solid #f99d1b;
    background-color: white;
    box-sizing: border-box;
    padding: 0 5px;
}

#category > .category-list {
    width: 300px;
    min-height: 300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.category-list > .category-item{
    flex-basis: 90px;
    height: 90px;
    background-color:white;
    text-align: center;
    border-radius: 15px;
}


.category-list > .category-item:hover > a{
    background-color: #f99d1b;
    color: white;
}

.category-list > .category-item > a{
    display: block;
    width: 90px;
    height: 90px;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid #f99d1b;
    background-color:white;
    color: #f99d1b;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    box-shadow: border-box;
}

.category-item > a > .category-icon {
   margin: 25px auto 8px auto;
   font-size: 20px;
}

.category-item > a > .category-title {
    font-weight: bold;
}

