        /* main - 홈 영역*/
        #cavelife {
            width: 330px;
            height: 550px;
            padding: 15px;
            position: relative;
            overflow: auto;
            scrollbar-width: none;
            /* Firefox */
        }

        /* 스크롤바 제거 */
        #cavelife::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera*/
        }

        /* 게시글 리스트  */
        #cavelife-list {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;
        }

        /* 게시글  */
        .cavelife-item {
            display: block;
            flex-basis: 110px;
            height: 170px;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        /* 게시글 제목, 판매날짜 등 */
        .cavelife-item>.cavelife-content {
            height: 100%;
            margin: 0px 5px;
            text-align: left;
            padding-bottom: 10px;
            border-bottom: 1px solid #d5d5d5;
        }
        /* 게시글 제목 */
        .cavelife-item>.cavelife-content>.cavelife-title {
            font-size: 16px;
            line-height: 25px;
            margin: 20px 0 0 0;
        }

        /* 게시글 내용 */
        .cavelife-item>.cavelife-content>.cavelife-info {
            font-size: 15px;
            line-height: 20px;
            color: black;
            padding: 20px 0;
        }

        /* 좋아요, 답변하기 */
        .cavelife-good img {
            width: 40px;
            height: 40px;
            vertical-align: middle;
            
        }
        .cavelife-comment img {
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }
        .cavelife-content button {
            background-color: white;
            border: none;
        }

        /* 동굴생활글쓰기 버튼 */
        #write-sale-btn {
            display: block;
            width: 60px;
            height: 60px;
            font-size: 20px;
            text-align: center;
            line-height: 60px;
            background-color: #ff9500;
            border-radius: 30px;
            position: fixed;
            left: 280px;
            top: 570px;
            z-index: 1;
        }

        #write-sale-btn:active {
            transform: scale(0.7);
            transition: transform 0.1s ease-in-out;
        }

        #write-sale-btn>.far {
            margin: 0 0 0 3px;
            color: white;
        }