/* main - 홈 영역*/
#cavecomment {
    width: 330px;
    height: 550px;
    padding: 15px;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
}

/* 스크롤바 제거 */
#cavecomment::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

/* 프로필 부분 */
.cavecomment-content {
    border-bottom: 1px solid #d5d5d5;
}

.cavecomment-profile1 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
}

.cavecomment-name1 {
    padding-top: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* 내용부분 */
.cavecomment-contents {
    border-bottom: 1px solid #d5d5d5;
    height: 180px;
}

.cavecomment-info {
    padding-bottom: 110px;
}

.cavecomment-con {
    font-size: 14px;
}

/* 신고 부분 */
.cavecomment-report img {
    width: 15px;
}

.cavecomment-report {
    font-size: 13px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.cavecomment-report a:link {
    color: #d5d5d5;
}

.cavecomment-report a:visited {
    color: #d5d5d5;
}

.cavecomment-report a:hover {
    color: red;
}

.cavecomment-report a:active {
    color: green;
}

/* 좋아요, 답변하기 */
.cavecomment-button {
    height: 30px;
    margin-top: 5px;
    padding-left: 8px;
}

.cavecomment-button>.fas.fa-thumbs-up.good-btn {
    color: 	#ff9500;
}

.good-btn {
    padding-right: 20px;
}

.cavecomment-button button {
    background-color: white;
    border: none;
}

/* 댓글 내용 */
.cavecomment-profile2 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
}

.cavecomment-name2 {
    font-size: 14px;
    font-weight: bold;
    padding-top: 40px;
    margin-left: 55px;
}

.cavecomment-info2 {
    font-size: 13px;
    margin-top: 5px;
    margin-left: 55px;
}

/* 댓글 신고 부분 */
.cavecomment-report2 img {
    width: 15px;
}

.cavecomment-report2 {
    font-size: 13px;
    text-decoration: underline;
    padding-bottom: 10px;
    margin-top: 40px;
}

.cavecomment-report2 a:link {
    color: #d5d5d5;
}

.cavecomment-report2 a:visited {
    color: #d5d5d5;
}

.cavecomment-report2 a:hover {
    color: red;
}

.cavecomment-report2 a:active {
    color: green;
}

/* 댓글 버튼 */
.cavecomment-write input {
    width: 290px;
    height: 20px;
    border-radius: 20px;
    padding-left: 10px;
}

.cavecomment-notice {
    background-color:rgba(252, 198, 123,0.95);
    width: 360px;
    height: 0px;
    border-radius: 100px 100px 0 0;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease-in;
    opacity: 0;
}

.cavecomment-notice > h2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 150px;
    margin: 60px 0 0 0;
}

.cavecomment-notice > button {
    background-color: #f99d1b;
    color: white;
    width: 260px;
    height: 40px;
    border: 0;
    border-radius: 20px;
}