* {
    margin: 0;
    padding: 0;
}


html,body {
    width: 360px;
    height: 640px;
    position: relative;
    color: #333;
}

main {
    width: 330px;
    height: 550px;
    padding: 15px;
}


a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}