main#sales-list-page {
    position: relative;
    overflow: auto;
    scrollbar-width: none;
}

/* 스크롤바 제거 */
main#sales-list-page::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

/* 구매목록 */
.sales-list {
    width: 100%;
    height: 100%;
    margin-left: 15px;
}

/* 구매목록 아이템 */
.sales-list>.sales-item {
    display: block;
    width: 100%;
    min-height: 110px;
    margin: 0 0 10px 0;
}

.sales-link {
    display: block;
    width: 100%;
    height: 100%;
}

/* 구매목록 중 구매요청한 글 */
.sales-item> .sales-link > .sales-contact {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
}

/* 구매요청한 글의 이미지 */
.sales-contact>.sales-img {
    flex-basis: 95px;
    height: 95px;
    padding: 7.5px;
    text-align: center;
    line-height: 95px;
    overflow: hidden;
}
.sales-img > a {
    display: block;
    width: 100%;
    height: 100%;
}

.sales-img img {
    border-radius: 10px;
    width: 95px;
    height: 95px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

/* 구매요청한 글의 내용 */
.sales-cont {
    width: 330px;
    height: 0;
}

/* 구매요청한 글의 제목 */
.sales-cont>.sales-title {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-top: 10px;
}

/* 구매요청한 글의 올린시간, 위치 */
.sales-cont>.sales-info {
    font-size: 13px;
    line-height: 20px;
    color: #d5d5d5;
    margin-left: 120px;
    margin-bottom: 10px;
}

/* 구매요청한 글의 가격 */
.sales-cont>.sales-content {
    font-size: 13px;
    line-height: 15px;
    color: #d5d5d5;
    margin-left: 120px;
}

/* 구매요청 상황 */
.sales-status {
    display: inline-block;
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    box-sizing: border-box;
}

.complete-status {
    display: inline-block;
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    box-sizing: border-box;
    float: right;
}

.complete-status:after {
    content:'';
    display: block;
    float: none;
    clear: both;
}

.accepted {
    background-color: rgba(252, 198, 123, 0.95);
}

.sales-item> .sales-contact {
    width: 100%;
    height: 0;
    text-align: left;
    border: 1px solid #d5d5d5;
    border-top: 0;
    border-left: 0;
    font-size: 14px;
    display: none;
}

.sales-contact.show {
    display: block;
    height: 140px;
}

.complete-contact {
    float: left;
}

/* 구매요청한 글의 이미지 */
.complete-contact >.sales-img {
    height: 95px;
    padding: 7.5px;
    text-align: left;
    line-height: 95px;
    overflow: hidden;
}

.sales-item> .complete-contact {
    width: 100%;
    height: 0;
    text-align: left;
    border: 1px solid #d5d5d5;
    border-top: 0;
    border-left: 0;
    font-size: 14px;
    display: none;
}

.complete-contact.shows {
    display: block;
    height: 140px;
}

/* 맨 밑에 버튼 */
.notice-button {
    margin: 20px 125px;
}