        /* main - 홈 영역*/
        #mycavelife {
            width: 330px;
            height: 500px;
            padding: 15px;
            position: relative;
        }

        /* 게시글 리스트  */
        #mycavelife-list {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;
        }

        /* 내 게시글, 내 댓글 버튼 */
        .mycavelife-pc button {
            border: 1px solid #d5d5d5;
            float: left;
            width: 160px;
            height: 40px;
            background-color: white;
        }

        .mycavelife-post {
            margin-left: 20px;
        }
        /* 게시글  */
        .mycavelife-item {
            display: block;
            flex-basis: 110px;
            height: 110px;
            width: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #d5d5d5;
        }

        /* 게시글 이미지 영역 */
        .mycavelife-item>.mycavelife-img {
            flex-basis: 95px;
            height: 95px;
            text-align: center;
            padding: 7.5px;
        }

        .mycavelife-item>.mycavelife-img>img {
            height: 95px;
            width: 95px;
            border-radius: 10px;
        }

        /* 게시글 제목, 판매날짜 등 */
        .mycavelife-item>.mycavelife-content {
            flex-basis: 200px;
            height: 100%;
            margin: 0 5px;
            text-align: left;
        }

        /* 게시글 제목 */
        .mycavelife-item>.mycavelife-content>.mycavelife-title {
            font-size: 16px;
            line-height: 25px;
            margin: 15px 0 0 0;
        }

        /* 게시글 지역,업데이트 시간(날짜) */
        .mycavelife-item>.mycavelife-content>.mycavelife-info {
            font-size: 12px;
            line-height: 20px;
            color: #d5d5d5;
        }

        /* 게시글 내용 */
        .mycavelife-item>.mycavelife-content>.mycavelife-contents {
            font-size: 10px;
            line-height: 15px;
            color: #d5d5d5;
        }

        .mycavelife-button {
            margin: 20px 125px;
        }