main#sales-list-page {
    position: relative;
    overflow: auto;
    scrollbar-width: none;
}

/* 스크롤바 제거 */
main#sales-list-page::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

/* 내 게시글, 내댓글 버튼 */
#sales-list-page {
    margin: 0 15px;
}

.mycavelife-status {
    border: 1px solid white;
    width: 170px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.complete-status {
    border: 1px solid white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.accepted {
    background-color: rgba(252, 198, 123, 0.95);
}

/* 내 게시글 리스트 */
.mycavelife-list {
    margin-top: 10px;
    display: none;
}
.mycavelife-item {
    border-bottom: 1px solid #e3dcd9;
    padding-bottom: 20px;
    margin-top: 10px;
}
.mycavelife-img {
    float: left;
}

.mycavelife-cont {
    padding-top: 5px;
    padding-left: 100px;
    line-height: 25px;
}

.mycavelife-title {
    font-size: 18px;
}

.mycavelife-info {
    font-size: 14px;
    color: #e3dcd9;
}

.mycavelife-content {
    font-size: 14px;
    color: #e3dcd9;
    line-height: 17px;
}

.mycavelife-contact.show {
    display: block;
    height: 550px;
}

/* 맨 밑에 버튼 */
.notice-button {
    margin: 20px 110px;
}