/* 나의마늘 전체 */
#mygarlic {
    margin-left: 10px;
}

/* 나의마늘 프로필 */
.mygarlic-img {
    width: 80px;
    height: 80px;
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 20px;
}
.mygarlic-img p {
    float: left;
}

.mygarlic-name {
    padding-top: 40px;
    padding-left: 100px;
}
.mygarlic-kakao {
    padding-left: 100px;
    color: #d5d5d5;
}

.mygarlic-content {
    clear: both;
}

/* 프로필보기 버튼 */
#mygarlic-prosee {
    display: block;
    width: 330px;
    height: 25px;
    margin-top: 40px;
    border: 1px solid black;
    text-align: center;
    padding: 15px 0;
    background-color: #ff9500;
}