/* 나의마늘 전체 */
#mygarlic {
    margin-left: 10px;
}

/* 나의마늘 프로필 */
.mygarlic-img {
    width: 80px;
    height: 80px;
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 20px;
}
.mygarlic-img p {
    float: left;
}

.mygarlic-name {
    padding-top: 40px;
    padding-left: 100px;
}
.mygarlic-kakao {
    padding-left: 100px;
    color: #d5d5d5;
}

.mygarlic-content {
    clear: both;
}

.mygarlic-list {
    list-style: none;
}

.mygarlic-list li {
    float: left;
    margin-right: 14px;
}

/* 프로필보기 버튼 */
#mygarlic-prosee {
    display: block;
    width: 330px;
    height: 20px;
    margin-top: 40px;
    border: 1px solid black;
    text-align: center;
    padding: 15px 0;
    background-color: #ff9500;
    border-radius: 5px;
}

/* 판매내역, 구매내역, 관심목록 버튼 */
#mygarlic-sale {
    display: block;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    background-color: #ff9500;
    margin: 20px 0;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
}

/* 나의 마늘 홈리스트 */
.mygarlic-homelist {
    clear: both;
}
#mygarlic-notice {
    display: block;
    margin-top: 20px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: 20px 0;
}

#mygarlic-hlist {
    display: block;
    margin-top: 5px;
    border-bottom: 1px solid #d5d5d5;
    padding: 20px 0;
}

/* 하이퍼링크 글자색 바꾸기 */
.mygarlic-homelist a:link {
    color : black;
}

.mygarlic-homelist a:visited {
    color : black;
}

.mygarlic-homelist a:hover {
    color : red;
}

.mygarlic-homelist a:active {
    color : green;
}