body {
    position: relative;
}
main#post-sale-page {
    width: 330px;
    height: 550px;
    padding: 15px;
}

.post-sale-title {
    background-color: #af713c;
    text-align: center;
    font-size: 17px;
    color: white;
    line-height: 40px;
    width: 330px;
    margin: 10px auto;
}

#sale-post>.sale-common {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 5px auto 10px auto;
    text-indent: 10px;
}

#sale-post>#sale-title::placeholder {
    text-indent: 10px;
}

#sale-post>#sale-category {
    text-indent: 10px;
    background-color: white;
    padding: .8em .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#sale-post > #sale-category::-ms-expand {
    display: none /* 화살표 없애기 for IE10, 11*/
}

#sale-post>#sale-textarea {
    display: block;
    width: 310px;
    height: 230px;
    margin: 5px auto 10px auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    resize: none; /* 사용자가 사이즈 변경불가 */
    padding: 10px;
}

#sale-post> .sale-upload {
    width: 100%;
    height: 75px;
    margin: 5px auto 10px 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#sale-post > .sale-upload > img{
    flex-basis: 75px;
    height: 75px;
    margin: 0 5px 0 0;
    display: block;
}

#sale-post > .sale-upload #sale-upload-btn {
    position: relative;
    width: 75px;
    height: 75px;
}

#sale-post> .sale-upload  label[for='sale-img'] {
    display: block;
    background-color: whitesmoke;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 25px;
    color: white;
}

#sale-post> .sale-upload #sale-img {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#sale-post > #sale-post-btn {
     background-color: #f99d1b;
     color: white;
     font-weight: 600;
     border-color: #ff9500;
     text-indent: 0;
}

.post-sale-notice {
    background-color:rgba(252, 198, 123,0.95);
    width: 360px;
    height: 0px;
    border-radius: 100px 100px 0 0;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease-in;
    opacity: 0;
}

.post-sale-notice > p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 150px;
    margin: 60px 0 0 0;
}

.post-sale-notice > button {
    background-color: #f99d1b;
    color: white;
    width: 260px;
    height: 40px;
    border: 0;
    border-radius: 20px;
}
