.saleslistpage {
    position: relative;
    overflow: auto;
    scrollbar-width: none;
}

/* 스크롤바 제거 */
.saleslistpage::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

/* 구매목록 */
.saleslist {
    width: 100%;
    height: 100%;
}

/* 구매목록 아이템 */
.saleslist>.salesitem {
    display: block;
    width: 100%;
    min-height: 110px;
    margin: 0 0 10px 0;
}

.saleslink {
    display: block;
    width: 100%;
    height: 100%;
}

/* 구매목록 중 구매요청한 글 */
.salesitem> .saleslink > .salespost {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
}

/* 구매요청한 글의 이미지 */
.salespost>.salesimg {
    flex-basis: 95px;
    height: 95px;
    padding: 7.5px;
    text-align: center;
    line-height: 95px;
    overflow: hidden;
}
.salespost>.salesimg > .saleslink {
    display: block;
    width: 100%;
    height: 100%;
}

.salespost>.salesimg img {
    border-radius: 10px;
    width: 95px;
    height: 95px;
}

/* 구매요청한 글의 내용 */
.salespost>.salescont {
    width: 210px;
    height: 100px;
    margin: 5px;
}

/* 구매요청한 글의 제목 */
.salespost>.salescont>.salestitle {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 구매요청한 글의 올린시간, 위치 */
.salespost>.salescont>.salesinfo {
    font-size: 12px;
    line-height: 20px;
    color: #d5d5d5;
}

/* 구매요청한 글의 가격 */
.salespost>.salescont>.salesprice {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0 0 0;
}