        /* main - 홈 영역*/
        .notice {
            width: 100%;
            height: auto;
            margin: 5px 0;
        }

        /* 게시글 리스트  */
        .noticelist {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;
        }

        /* 게시글  */
        .noticeitem {
            display: block;
            flex-basis: 110px;
            height: 110px;
            width: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #d5d5d5;
        }

        /* 게시글 이미지 영역 */
        .noticeitem>.noticeimg {
            flex-basis: 95px;
            width: 100%;
            height: 95px;
            text-align: center;
            padding: 7.5px;
        }

        .noticeitem>.noticeimg>img {
            height: 95px;
            width: 95px;
            border-radius: 10px;
        }

        /* 게시글 제목, 판매날짜 등 */
        .noticeitem>.noticecontent {
            flex-basis: 200px;
            height: 100%;
            margin: 0 5px;
            text-align: left;
        }

        /* 게시글 제목 */
        .noticeitem>.noticecontent>.noticetitle {
            font-size: 1.2rem;
            line-height: 20px;
            margin: 15px 0 0 0;
        }

        /* 게시글 지역,업데이트 시간(날짜) */
        .noticeitem>.noticecontent>.noticeinfo {
            font-size: 0.8rem;
            line-height: 25px;
            color: #919191;
        }

        /* 게시글 내용 */
        .noticeitem>.noticecontent>.noticecontents {
            font-size: 0.8rem;
            line-height: 15px;
            color: #919191;
        }