
.menu {
    width: 375px;
    height: 100%;
    background-color: rgba(252, 198, 123,0.95);
    position: absolute;
    top: 0;
    margin: 0 auto;
    z-index: 99;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 355px) and (max-width:500px){
    .menu{
    width: 100%;
    height: 100%;
    left:0;
    }
}

.menu > .menuLogo {
    width: 100%;
    height: 70px;
    padding: 40px 0;
    line-height: 100px;
    text-align: center;
}

.menu > .menuLogo > img {
    width: 200px;
}

.menu > .menuList {
    margin: 10px auto 70px auto;
    width: 300px;
    height: auto;
    text-align: center;
}

.menu > .menuList > .menuItem {
    width: 100%;
    height: 60px;
    margin: 20px auto;
    background-color:#f99d1b;
    border-radius: 40px;
}

.active > a {
    background-color: white;
    color: #f99d1b;
}

.menu > .menuList > .menuItem:hover > a {
    background-color: white;
    color: #f99d1b;
}

.menuList > .menuItem > a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    line-height: 60px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: all 0.1s ease-in-out;
} 

.menuContact {
    width: 250px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menuContact > .menuContactItem {
    width: 50px;
    height: 50px;
    background-color: #f99d1b;
    border-radius: 30px;
    text-align: center;
}

.menuContact > .menuContactItem:hover > a {
     background-color: white;
     color: #f99d1b;
}

.menuContact > .menuContactItem > a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 56px;
    color: white;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.menuContact > .menuContactItem:first-child > a > svg{
    margin: 0 2px 0 0;
}


