 /* pagination position styling */
.paginationsection {
    position: absolute;
    top: 600px;
}
 
/* pagination styling */
.paginationsection a {
    color: black;
    padding: 0 11px;
    text-decoration: none;
}
 
/* pagination hover effect on non-active */
.paginationsection a:hover:not(.active) {
    background-color: #031F3B;
    color: white;
}
 
/* pagination hover effect on active*/
a:nth-child(3) {
    background-color: #f99d1b;
    color: white;
}
      
a:nth-child(1) {
    font-weight: bold;
}
      
a:nth-child(9) {
    font-weight: bold;
}